html, body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
}

.highlighted-text-dynamic {
	position: relative;
	color: white;
	padding: 3px;
	-webkit-animation: 0.7s highlight 0s 1 normal forwards;
	background: linear-gradient(90deg, #3c2c54 50%, rgba(255, 255, 255, 0) 50%);
	background-size: 200% 100%;
	background-position: 100% 0;
	z-index: unset;
}

.highlighted-text-static {
	background-color: #3c2c54;
	position: relative;
	color: white;
	padding: 3px;
}

.underlined-text-static {
	background: linear-gradient(90deg, #503d6e 50%, rgba(255, 255, 255, 0) 50%);
	background-size: 200% 15%;
	padding: 2px;
	background-position: 0 100%;
	background-repeat: no-repeat;
	pointer-events: none;
}

.underlined-text-dynamic {
	-webkit-animation: 0.6s underline 0.3s 1 normal forwards;
	background: linear-gradient(90deg, #503d6e 50%, rgba(255, 255, 255, 0) 50%);
	background-size: 200% 15%;
	padding: 2px;
	background-position: 200% 135%;
	background-repeat: no-repeat;
	pointer-events: none;
}

@-webkit-keyframes underline {
	to {
		background-position: 0 100%;
	}
}

@keyframes underline {
	to {
		background-position: 0 100%;
	}
}

@-webkit-keyframes highlight {
	to {
		background-position: 0 0;
	}
}

@keyframes highlight {
	to {
		background-position: 0 0;
	}
}

/* Navigation list */
ul.navUL {
	margin: 0;
	padding: 0;
	display: inline-block;
}

ul.navUL span {
	display: block;
	position: relative;
	text-decoration: none;
}

.hoverBubble {
	font-size: 70%;
	width: max-content;
	background: #d5d5d5;
	color: #1c1c1c;
	opacity: 0;
	padding: 10px;
	position: absolute;
	visibility: hidden;
	border-radius: 3px;
	transition: all 0.25s;
	/*display: flex;*/
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hoverBubble p {
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.hoverBubble button {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.bubblePosition {
	top: 100%;
	height: inherit;
	left: 0;
	bottom: auto;
}

.hoverBubble:after,
.bubblePosition:after {
	border: 9px solid transparent;
	border-top-color: #d5d5d5;
	top: -15px;
	content: '';
	height: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 0;
	rotate: 180deg;
}

/* Bubble hover */
ul.navUL span:hover .hoverBubble {
	opacity: 1;
	visibility: visible;
	transition: all 0.25s;
	z-index: 5;
}

.row {
	/*	border:1px solid #000; */
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px 0 0 0;
}

.syncButton.syncButton {
	padding: 0;
	text-align: center;
	background-color: #1c1c1c;
	color: #d5d5d5;
	margin: 5%;
}

.sidebar {
	/*border:1px solid #000;*/
	font-size: 170%;
	margin: -5px;
	align-self: center;
}

.content {
	/*	border:1px solid #000; */
	font-size: 85%;
	align-self: center;
	white-space: initial;
}

.gridContainer {
	/*border:1px solid #000;*/
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
}

b {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	font-weight: bold;
	color: #8a3cf5;

}




.table-wrapper {
	width: 100rem;
	overflow: auto;
}


table {
	font-size: 60%;
	max-width: 100px;
	overflow: auto;
}

th {
	border-top: white;
	border-bottom: white;
	border-left: transparent !important;
	border-right: transparent !important;
	font-size: 80% !important;
	font-weight: normal;
}

td {
	border-top: white;
	border-bottom: white;
	border-left: transparent !important;
	border-right: transparent !important;
	font-size: 50%;
	border-radius: 0.5rem;
}


.palette-0 {background-color: #845EC2; box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);}
.palette-1 {background-color: #4B4453; box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);}
.palette-2 {background-color: #B0A8B9; box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);}
.palette-3 {background-color: #C34A36; box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);}
.palette-4 {background-color: #FF8066; box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);}
.palette-5 {background-color: #6D88A4; box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);}
.palette-6 {background-color: #A17E6E; box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);}
.palette-7 {background-color: #6D6D99; box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);}
.palette-8 {background-color: #8F605E; box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);}
.palette-9 {background-color: #7E9D9A; box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);}


