.highlightedTextStatic {
	background-color: #3c2c54;
	position: relative;
	color: white;
	padding: 3px;
}

.underlinedTextDynamic {
	-webkit-animation: 0.6s underline 0.3s 1 normal forwards;
	background: linear-gradient(90deg, #503d6e 50%, rgba(255, 255, 255, 0) 50%);
	background-size: 200% 15%;
	padding: 2px;
	background-position: 200% 135%;
	background-repeat: no-repeat;
	pointer-events: none;
}

@-webkit-keyframes underline {
	to {
		background-position: 0 100%;
	}
}

@keyframes underline {
	to {
		background-position: 0 100%;
	}
}

@-webkit-keyframes highlight {
	to {
		background-position: 0 0;
	}
}

@keyframes highlight {
	to {
		background-position: 0 0;
	}
}

/* Navigation list */
ul.navUL {
	margin: 0;
	padding: 0;
	display: inline-block;
}

ul.navUL span {
	display: block;
	position: relative;
	text-decoration: none;
}

.hoverBubble {
	font-size: 70%;
	width: max-content;
	background: #d5d5d5;
	color: #1c1c1c;
	opacity: 0;
	padding: 10px;
	position: absolute;
	visibility: hidden;
	border-radius: 3px;
	transition: all 0.25s;
	/*display: flex;*/
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hoverBubble p {
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.hoverBubble button {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.bubblePosition {
	top: 100%;
	height: inherit;
	left: 0;
	bottom: auto;
}

.hoverBubble:after,
.bubblePosition:after {
	border: 9px solid transparent;
	border-top-color: #d5d5d5;
	top: -15px;
	content: '';
	height: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 0;
	rotate: 180deg;
}

.gridContainer {
	/*border:1px solid #000;*/
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
}

/* Bubble hover */
ul.navUL span:hover .hoverBubble {
	opacity: 1;
	visibility: visible;
	transition: all 0.25s;
	z-index: 5;
}

.gridRow {
	/*	border:1px solid #000; */
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px 0 0 0;
	justify-content: space-evenly;
}

.syncButton.syncButton {
	padding: 0;
	text-align: center;
	background-color: #1c1c1c;
	color: #d5d5d5;
	margin: 5%;
}

.iconBar {
	/*border:1px solid #000;*/
	font-size: 170%;
	margin: -5px;
	align-self: center;
}

.eventDataBar {
	font-size: 85%;
	align-self: center;
	white-space: initial;
}

.tableWrapper {
	width: 100rem;
	overflow: auto;
}


table {
	border-top: transparent;
	border-bottom: white;
	border-left: transparent;
	border-right: transparent;
	font-size: 60%;
	max-width: 100px;
}

th {
	border-top: transparent;
	border-bottom: white;
	border-left: transparent!important;
	border-right: transparent!important;
	font-size: 80%;
	font-weight: normal;
}

td {
	border-top: transparent!important;
	border-bottom: white;
	border-left: transparent!important;
	border-right: transparent!important;
	font-size: 50%;
	border-radius: 0.5rem;
	transition: transform .5s ease;
}

td:hover {
	transform: scale(1.12);
}

.eventBox {
	box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
}

.palette-0 {background-color: #8C54FC;}
.palette-1 {background-color: #8850F5;}
.palette-2 {background-color: #8551F0;}
.palette-3 {background-color: #844DD5;}
.palette-4 {background-color: #7D4CDC;}
.palette-5 {background-color: #7A49D7;}
.palette-6 {background-color: #7747D2;}
.palette-7 {background-color: #7544C9;}
.palette-8 {background-color: #713FBB;}
.palette-9 {background-color: #6F3CAF;}
.palette-10 {background-color: #6D38A4;}
.palette-11 {background-color: #6A349B;}
.palette-12 {background-color: #673092;}
.palette-13 {background-color: #642C8A;}
.palette-14 {background-color: #612B81;}
.palette-15 {background-color: #5E2678;}
.palette-16 {background-color: #5B236F;}
.palette-17 {background-color: #581E65;}
.palette-18 {background-color: #551B5B;}
.palette-19 {background-color: #521852;}
.palette-20 {background-color: #4F1549;}
.palette-21 {background-color: #4C1340;}


.serviceProviderRow {
	/*	border:1px solid #000; */
	display: grid;
	grid-template-columns: auto auto;
	padding-bottom: 25px;
	justify-content: space-evenly;
}

.serviceIcon {
	margin: 30px;
}

.serviceProviderButton {
	height: 150px;
	width: 150px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	transition: transform .5s ease;
}

.serviceProviderButton:hover {
	transform: scale(1.05);
}
